<div class="alert alert-warning">
    {{message}}
</div>
<div class="row list-group" *ngFor="let location of locations">
    <a href="/locations/{{location._id}}" class="col-xs-12 list-group-item">
        <h3>{{location.name}}</h3>
        <small>&nbsp;
            <app-rating-stars [rating]="location.rating"></app-rating-stars>
            <span class="badge pull-right badge-default">{{location.distance | distance}}</span>
        </small>
        <p class="address">{{location.address | uppercase}}</p>
        <p>
            <span *ngFor="let facility of location.facilities" class="label label-warning" style="margin-left: 5px;">{{facility}}</span>
        </p>
    </a>
</div>
