include _includes/sharedHTMLfunctions
extends layout

block styles
    link(rel='stylesheet', href='/build/styles.9c0ad738f18adc3d19ed.bundle.css')

block content      
    #banner.page-header
        .row
            .col-lg-6
                h1 #{pageHeader.title}
                    small &nbsp;#{pageHeader.strapline}
        
    .row
        .col-xs-12.col-sm-8
            app-home-list Loading...
          
        .col-xs-12.col-sm-4
            p.lead= sidebar

block scripts
    script(src="/build/inline.52e3c8940bb7b0b652d1.bundle.js")
    script(src="/build/polyfills.f20484b2fa4642e0dca8.bundle.js")
    script(src="/build/main.7d6d02e90fa10f443346.bundle.js")

  
