extends layout

block content
    .row.page-header
        .col-lg-12
                h1 Starbucks
    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star-empty
                        span.glyphicon.glyphicon-star-empty
                    p 125 High Street, Somwhere, Hong Kong
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Opening hour
                        .panel-body
                            p Monday - Friday : 7:00am - 7:00pm
                            p Saturday : 8:00am - 5:00pm
                            p Sunday : closed
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Facilities
                        .panel-body
                            span.label.label-warning
                                span.glyphicon.glyphicon-ok
                                | &nbsp;Hot drinks
                            | &nbsp;
                            span.label.label-warning
                                span.glyphicon.glyphicon-ok
                                | &nbsp;Food
                            | &nbsp;
                            span.label.label-warning
                                span.glyphicon.glyphicon-ok
                                | &nbsp;Premium wifi
                            | &nbsp;
                .col-xs-12.col-sm-6.location-map
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title Location map
                        .panel-body
                            .embed-responsive.embed-responsive-4by3
                                iframe.embed-responsive-item(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14764.396703283839!2d114.18555039751222!3d22.31208868261436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400e196516635%3A0x3fcd21c76c5a5ca4!2zU3RhcmJ1Y2tzIENvZmZlZSDmmJ_lt7TlhYs!5e0!3m2!1sen!2shk!4v1516712487947')
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href='/location/review/new') Add Review
                            h3.panel-title Customer reviews
                        .panel-body.review-container
                            .row
                                .review
                                    .well.well-sm.review-header
                                        span.rating
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star
                                        &nbsp;
                                        span.reviewAuthor Samantha Thavasa
                                        &nbsp;
                                        small.reviewTimestamp 23 January 2018
                                    .col-xs-12
                                        p Great great place to have a chat with Victoria Harbour near you !
                            .row
                                .review
                                    .well.well-sm.review-header
                                        span.rating
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star
                                            span.glyphicon.glyphicon-star-empty
                                            span.glyphicon.glyphicon-star-empty
                                        &nbsp;
                                        span.reviewAuthor Ted Baker
                                        &nbsp;
                                        small.reviewTimestamp 15 June 2017
                                    .col-xs-12
                                        p Coffee as crappy as usual by the view is nice
        .col-xs-12.col-md-3
            p.lead Simon's cafe is on Loc8r because it has accessible wifi and space to sit down with your laptop and get some work done.
            p If you've been and you like it - or if you don't - please leave a review to help other people just like you.
    
